.first-view {
  height: 100vh;
  width: 100%;
  position: relative;
  // background-image: url("../img/Blond woman with long curly beautiful hair.png");
  // background-repeat: no-repeat;
  // background-size: auto 100%;
  // background-position: right;



}

.catch {
  height: 100%;
  width: 100%;
  display: flex;

  @include tab {
    position: relative;

  }

  &__copy {
    height: 100%;
    width: 46%;
    min-width: 580px;
    // padding-top: 300px;
    // padding-left: 100px;
    // padding-right: 100px;
    box-sizing: border-box;
    font-size: 3.8rem;
    letter-spacing: 0.1em;
    display: flex;
    justify-content: center;
        align-items: center;
        flex-direction: column;

    @include tab {
      width: 100% !important;
      z-index: 2;
      flex-direction: column-reverse;
      position: absolute;
      min-width: 0;
    }

    &__ja {
      font-family: $ff_02;
      font-size: 3.8rem;
      line-height: 1.7em;
      @include tab {
        font-size: 2.3rem;
        color: $fc_03;
      }

    }

    &__en {
      font-family: $ff_03;
      font-size: 3.8rem;
      padding-top: 48px;
      line-height: 4em;
      @include tab {
        padding-top: 0;
        font-size: 2.8rem;
                color: $fc_03;
      }
    }

  }

  &__img {
    height: 100%;
    width: 54%;
    background-image: url("../img/Blond woman with long curly beautiful hair.png");
    background-size: cover;

    @include tab {
      width: 100% !important;
            position: absolute;
    }
  }
}
