header {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-top: 68px;
  padding-left: 77px;
  // position: fixed; ヘッダを画面上部に固定
  position: absolute;//ヘッダが追従しない設定に戻す用
  z-index: 10;
    @include tab {
      position: static;
      background-color: $bgc_01;
      padding: 24px 20px;
      justify-content: space-between;
    }
}





.header-logo {
  font-size: 3.8rem;
  line-height: 1.2em;
  @include tab {
    font-size: 2.2rem;
  }

}

.ham {
  display: none;
  width: 1.6rem;
  height: 1.4rem;
  position: relative;


  @include tab {
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    display: inline-block;
    transition: all .4s;


    span {
      position: absolute;
      left: 0;
      width: 100%;
      height: 0.2rem;
      display: inline-block;
      box-sizing: border-box;
      background-color: $fc_01;
          transition: all .4s;

      &:nth-child(1) {
        top: 0;

      }
      &:nth-child(2) {
        top: calc(50% - 0.1rem); //spanの高さの半分

      }
      &:nth-child(3) {
        bottom: 0;
        width: 50%;
        text-align: left;
      }
    }
    &:active {
      span{
        &:nth-child(1) {
          transform: translateY(0.6em) rotate(-45deg);

        }
        &:nth-child(2) {
          opacity: 0;

        }
        &:nth-child(3) {
          transform: translateY(-0.6em) rotate(45deg);
          width: 100%;
        }


      }
    }
  }
}

.header-menu {
  font-size: 1.8rem;
        @include tab {
          display: none;
          ;
        }

  ul {
    list-style: none;
    display: flex;
    justify-content: left;


  }

  li {
    margin-left: 20px;
    display: inline-block;

    &:first-child {
      border-bottom: 1px solid $fc_01;
    }

    span {
      color: $fc_02;
    }
  }

}
