/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav,
ul,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

a:visited {
  color: inherti;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  line-height: 1.67;
}

.title {
  font-size: 1.8rem;
  letter-spacing: 0.3em;
  color: #707070;
  padding-top: 256px;
  width: 85%;
  margin: 0 auto;
}

@media screen and (max-width: 959px) {
  .title {
    width: 89%;
    padding-top: 60px;
  }
}

.title:after {
  display: inline-block;
  content: "";
  border-top: 1px solid #707070;
  width: 9.5rem;
  margin-left: 2rem;
  vertical-align: 25%;
}

@media screen and (max-width: 959px) {
  .title:after {
    width: 3rem;
  }
}

.logo {
  font-family: "Roboto Mono for Powerline", Roboto;
  font-size: 3.8rem;
  letter-spacing: 0.1em;
  line-height: 1.2em;
}

.text {
  font-family: "Roboto Mono for Powerline", Roboto;
  font-size: 1.6rem;
  letter-spacing: 0.1em;
  line-height: 1.7em;
}

.wrap {
  width: 85%;
  padding-top: 11px;
  padding-bottom: 70px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 959px) {
  .wrap {
    width: 89%;
    margin: 0 auto;
    padding: 50px 0 62px 0;
  }
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 68px;
  padding-left: 77px;
  position: absolute;
  z-index: 10;
}

@media screen and (max-width: 959px) {
  header {
    position: static;
    background-color: #FFFFFF;
    padding: 24px 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header-logo {
  font-size: 3.8rem;
  line-height: 1.2em;
}

@media screen and (max-width: 959px) {
  .header-logo {
    font-size: 2.2rem;
  }
}

.ham {
  display: none;
  width: 1.6rem;
  height: 1.4rem;
  position: relative;
}

@media screen and (max-width: 959px) {
  .ham {
    display: inline-block;
    -webkit-transition: all .4s;
    transition: all .4s;
  }
  .ham span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 0.2rem;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #000000;
    -webkit-transition: all .4s;
    transition: all .4s;
  }
  .ham span:nth-child(1) {
    top: 0;
  }
  .ham span:nth-child(2) {
    top: calc(50% - 0.1rem);
  }
  .ham span:nth-child(3) {
    bottom: 0;
    width: 50%;
    text-align: left;
  }
  .ham:active span:nth-child(1) {
    -webkit-transform: translateY(0.6em) rotate(-45deg);
            transform: translateY(0.6em) rotate(-45deg);
  }
  .ham:active span:nth-child(2) {
    opacity: 0;
  }
  .ham:active span:nth-child(3) {
    -webkit-transform: translateY(-0.6em) rotate(45deg);
            transform: translateY(-0.6em) rotate(45deg);
    width: 100%;
  }
}

.header-menu {
  font-size: 1.8rem;
}

@media screen and (max-width: 959px) {
  .header-menu {
    display: none;
  }
}

.header-menu ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.header-menu li {
  margin-left: 20px;
  display: inline-block;
}

.header-menu li:first-child {
  border-bottom: 1px solid #000000;
}

.header-menu li span {
  color: #707070;
}

.first-view {
  height: 100vh;
  width: 100%;
  position: relative;
}

.catch {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 959px) {
  .catch {
    position: relative;
  }
}

.catch__copy {
  height: 100%;
  width: 46%;
  min-width: 580px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 3.8rem;
  letter-spacing: 0.1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 959px) {
  .catch__copy {
    width: 100% !important;
    z-index: 2;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    position: absolute;
    min-width: 0;
  }
}

.catch__copy__ja {
  font-family: "Hiragino Mincho Pro W3", serif;
  font-size: 3.8rem;
  line-height: 1.7em;
}

@media screen and (max-width: 959px) {
  .catch__copy__ja {
    font-size: 2.3rem;
    color: #FFFFFF;
  }
}

.catch__copy__en {
  font-family: "Zapfino", serif;
  font-size: 3.8rem;
  padding-top: 48px;
  line-height: 4em;
}

@media screen and (max-width: 959px) {
  .catch__copy__en {
    padding-top: 0;
    font-size: 2.8rem;
    color: #FFFFFF;
  }
}

.catch__img {
  height: 100%;
  width: 54%;
  background-image: url("../img/Blond woman with long curly beautiful hair.png");
  background-size: cover;
}

@media screen and (max-width: 959px) {
  .catch__img {
    width: 100% !important;
    position: absolute;
  }
}

.concept {
  background: -webkit-gradient(linear, left top, left bottom, from(#A193861F), color-stop(40%, #A1938689));
  background: linear-gradient(to bottom, #A193861F 0% 40%, #A1938689 40% 100%);
  width: 100%;
}

@media screen and (max-width: 959px) {
  .concept {
    background: -webkit-gradient(linear, left top, left bottom, from(#A193861F), color-stop(30%, #A1938689));
    background: linear-gradient(to bottom, #A193861F 0% 30%, #A1938689 30% 100%);
  }
}

.concept-flex {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.img-01 {
  width: 62.5%;
  height: auto;
}

@media screen and (max-width: 959px) {
  .img-01 {
    width: 49%;
  }
}

.img-01 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 100% 100%;
     object-position: 100% 100%;
}

.img-02 {
  width: 36.2%;
  height: auto;
}

@media screen and (max-width: 959px) {
  .img-02 {
    width: 49%;
    height: auto;
  }
}

.img-02 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 100% 100%;
     object-position: 100% 100%;
}

.concept-contents {
  width: 85%;
  padding-top: 70px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #FFFFFF;
}

@media screen and (max-width: 959px) {
  .concept-contents {
    width: 100%;
    padding-top: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.concept-contents__copy {
  font-family: "Hiragino Mincho Pro W3", serif;
  padding-top: 23px;
  font-size: 4rem;
  letter-spacing: 0.4em;
  min-width: 442px;
}

@media screen and (max-width: 959px) {
  .concept-contents__copy {
    font-size: 18px;
    padding-top: 0px;
    text-align: center;
    min-width: 0;
  }
}

.concept-contents__text {
  font-family: "Hiragino Kaku Gothic Pro W3", sans-serif;
  width: 45%;
  overflow: hidden;
  height: 130px;
}

@media screen and (max-width: 959px) {
  .concept-contents__text {
    width: 100%;
    min-width: 0;
    padding-top: 18px;
    height: 211px;
  }
}

.menu-contents-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 959px) {
  .menu-contents-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-grid-column-align: normal;
        justify-self: normal;
  }
}

.menu-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
  text-align: center;
  min-width: 220px;
}

@media screen and (max-width: 959px) {
  .menu-content {
    width: 100%;
    padding-top: 50px;
  }
  .menu-content:first-child {
    padding-top: 0;
  }
}

.menu-content img {
  width: 100%;
}

.menu-content__title {
  font-size: 3rem;
  padding-top: 37px;
  letter-spacing: 0.1em;
}

@media screen and (max-width: 959px) {
  .menu-content__title {
    padding-top: 30px;
    padding-left: 10px;
    text-align: left;
  }
}

.menu-content__text {
  padding: 34px 10px 0 10px;
  text-align: left;
}

@media screen and (max-width: 959px) {
  .menu-content__text {
    padding-top: 30px;
  }
}

.menu-content__price {
  padding-top: 34px;
  padding-right: 10px;
  text-align: right;
}

@media screen and (max-width: 959px) {
  .menu-content__price {
    padding-right: 0;
  }
}

.access {
  background-color: #A193861F;
  padding-bottom: 70px;
}

.access__wrap {
  margin-top: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #D0C5BA;
}

@media screen and (max-width: 959px) {
  .access__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.address {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: calc(calc(100vw - 85vw) / 2);
  text-align: left;
  width: 40%;
}

@media screen and (max-width: 959px) {
  .address {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 60px;
    padding-left: calc(calc(100vw - 89vw) / 2);
  }
}

.address__title {
  font-size: 2.4rem;
  letter-spacing: 0.1em;
  color: #00000038;
}

.address__text {
  padding-top: 24px;
  color: #FFFFFF;
}

.address__text:first-child {
  padding-top: 30px;
}

.map {
  width: 60%;
}

@media screen and (max-width: 959px) {
  .map {
    width: 100%;
    height: calc(100vw * 0.61);
  }
}

footer {
  height: 342px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (max-width: 959px) {
  footer {
    height: 260px;
  }
}

.footer-wrap {
  padding-top: 0;
  padding-bottom: 0;
  height: 50%;
  padding-bottom: 60px;
}

@media screen and (max-width: 959px) {
  .footer-wrap {
    height: 70%;
    padding-bottom: 30px;
  }
}

.footer-contents {
  height: 100%;
  border-top: 1px solid #70707036;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (max-width: 959px) {
  .footer-contents {
    position: relative;
    -webkit-box-pack: none;
        -ms-flex-pack: none;
            justify-content: none;
  }
}

.footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 959px) {
  .footer-logo {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer-logo__logo {
  color: #7070704D;
  font-size: 3.2rem;
}

@media screen and (max-width: 959px) {
  .footer-logo__logo {
    font-size: 1.8rem;
  }
}

.footer-logo__icon {
  font-size: 2rem;
  color: #000000;
  padding-left: 9px;
  vertical-align: 0;
}

.footer-logo__icon:first-child {
  padding-left: 26px;
}

.reserve-btn {
  height: 37px;
  line-height: 37px;
  padding-right: 40px;
  padding-left: 40px;
  border: 1px solid #000000;
}

@media screen and (max-width: 959px) {
  .reserve-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
/*# sourceMappingURL=main.css.map */